.idea*
.DS_Store
.venv*

# Ignore all binary files
*.bin
*.exe
*.dll
*.so
*.dylib

# Ignore all generated data files
/data/

# Ignore temporary files
.tmp
.temp

# Ignore Python cache files
__pycache__/
__pycache__
*.pyc
*.pyo


